.titleWrapper {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--color_mine_shaft_light);
}

.title {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.label {
  color: var(--color_alabaster) !important;
  font-size: 1.3rem;
}