/*!
 * Copyright 2020 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
.normalTick {
    color: var(--color_alabaster) !important;
    font-size: 1.3rem;
}
.lastTick {
    animation: fontbulger 1s infinite;
    color: var(--color_alabaster) !important;
    font-size: 1.3rem;
 }
.initialDisplay{
    color: var(--color_alabaster) !important;
    font-size: 1.1rem;
}

@keyframes fontbulger {
    0% {
        opacity: 0.5;
        font-size: 1.3rem;
    }
    50% {
        font-size: 1.7rem;
        opacity: 1;
    }
    100% {
        opacity: 0.5;
        font-size: 1.3rem;
    }
}
  